<!doctype html>

<html lang="en" class="no-js">

<head>
	<title>Human Guru</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i,900&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="/css/mite-assets.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="image/x-icon" href="/images/Logo.png">
</head>

<body style="text-align: justify !important;">

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix header-style4">
			<div class="logo-place">
				<div class="container">
					<a class="navbar-brand" href="/">
						<img src="/images/Logo.png" alt="" style="width: 199px;">
					</a>
				</div>
			</div>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">

					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<a class="search-button" href="#"><i class="fa fa-search"></i></a>
						<form class="form-search" action="/search" method="post">
							<input type="search" placeholder="Search:" name="search"/>
						</form>
						<ul class="navbar-nav m-auto">
							<li class="drop-link">
								<a class="active" href="/">Home</a>
							</li>
							<li class="drop-link">
								<a href="/about">About Us</a>
								<ul class="dropdown">
									<li><a href="index.html">Homepage 01</a></li>
									<li><a href="home2.html">Homepage 02</a></li>
									<li><a href="home3.html">Homepage 03</a></li>
									<li><a href="home4.html">Homepage 04</a></li>
									<li><a href="home5.html">Homepage 05</a></li>
									<li><a href="home6.html">Homepage 06</a></li>
								</ul>
							</li>
							<li><a href="/contact">Our Social Heroes</a></li>
							<li class="drop-link">
								<a href="/about">Fundamental Rights</a>
								<ul class="dropdown">
									<li><a href="index.html">Homepage 01</a></li>
									<li><a href="home2.html">Homepage 02</a></li>
									<li><a href="home3.html">Homepage 03</a></li>
									<li><a href="home4.html">Homepage 04</a></li>
									<li><a href="home5.html">Homepage 05</a></li>
									<li><a href="home6.html">Homepage 06</a></li>
								</ul>

							</li>
							<li><a href="/contact">Get Involved</a></li>
							<!-- <li><a href="category-mix.html">Lifestyle</a>
								<div class="mega-dropdown">
									<div class="news-post standard-post">
										<div class="image-holder">
											<img src="/images/upload/blog/c10.jpg" alt="">
										</div>
										<h2><a href="single-post.html">Aliquam tincidunt mauris eu risus.</a></h2>
										<ul class="post-tags">
											<li>by <a href="#">John Smith</a></li>
											<li>1 days ago</li>
										</ul>
									</div>
									<div class="news-post standard-post">
										<div class="image-holder">
											<img src="/images/upload/blog/c11.jpg" alt="">
										</div>
										<h2><a href="single-post.html">Cras ornare tristique elit.</a></h2>
										<ul class="post-tags">
											<li>by <a href="#">John Smith</a></li>
											<li>1 days ago</li>
										</ul>
									</div>
									<div class="news-post standard-post">
										<div class="image-holder">
											<img src="/images/upload/blog/c12.jpg" alt="">
										</div>
										<h2><a href="single-post.html">Praesent placerat risus.</a></h2>
										<ul class="post-tags">
											<li>by <a href="#">John Smith</a></li>
											<li>1 days ago</li>
										</ul>
									</div>
									<div class="news-post standard-post">
										<div class="image-holder">
											<img src="/images/upload/blog/c13.jpg" alt="">
										</div>
										<h2><a href="single-post.html">Morbi in sem quis dui placerat ornare.</a></h2>
										<ul class="post-tags">
											<li>by <a href="#">John Smith</a></li>
											<li>1 days ago</li>
										</ul>
									</div>
									<div class="news-post standard-post">
										<div class="image-holder">
											<img src="/images/upload/blog/c15.jpg" alt="">
										</div>
										<h2><a href="single-post.html">Quisque volutpat mattis semper suscipit eros.</a>
										</h2>
										<ul class="post-tags">
											<li>by <a href="#">John Smith</a></li>
											<li>1 days ago</li>
										</ul>
									</div>
								</div>
							</li>
							<li><a href="category-grid.html">Travel</a>
								<div class="mega-dropdown">
									<ul class="filter-list">
										<li><a href="#">Travel</a></li>
										<li><a href="#">Trending</a></li>
										<li><a href="#">Latest</a></li>
									</ul>
									<div class="news-post standard-post">
										<div class="image-holder">
											<img src="/images/upload/blog/p5.jpg" alt="">
										</div>
										<h2><a href="single-post.html">Cras ornare tristique elit.</a></h2>
										<ul class="post-tags">
											<li>by <a href="#">John Smith</a></li>
											<li>1 days ago</li>
										</ul>
									</div>
									<div class="news-post standard-post">
										<div class="image-holder">
											<img src="/images/upload/blog/p6.jpg" alt="">
										</div>
										<h2><a href="single-post.html">Praesent placerat risus.</a></h2>
										<ul class="post-tags">
											<li>by <a href="#">John Smith</a></li>
											<li>1 days ago</li>
										</ul>
									</div>
									<div class="news-post standard-post">
										<div class="image-holder">
											<img src="/images/upload/blog/p7.jpg" alt="">
										</div>
										<h2><a href="single-post.html">Morbi in sem quis dui placerat ornare.</a></h2>
										<ul class="post-tags">
											<li>by <a href="#">John Smith</a></li>
											<li>1 days ago</li>
										</ul>
									</div>
									<div class="news-post standard-post">
										<div class="image-holder">
											<img src="/images/upload/blog/p8.jpg" alt="">
										</div>
										<h2><a href="single-post.html">Quisque volutpat mattis semper suscipit eros.</a>
										</h2>
										<ul class="post-tags">
											<li>by <a href="#">John Smith</a></li>
											<li>1 days ago</li>
										</ul>
									</div>
								</div>
							</li> -->
							<li><a href="/contact">Contact</a></li>
						</ul>
						<ul class="navbar-nav ml-auto social-list">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- End Header -->