<%- include('partials/header') -%>

    <!-- page-banner section 
			================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </section>
    <!-- End page-banner section -->

    <!-- about section 
			================================================== -->
    <section class="about-section">
        <div class="container">
            <div class="about-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-post">
                            <h1>Our Vision</h1>

                            <p>The vision is crystal clear to keep the society updated and illuminated with the basic
                                rights they hold. This will not only encourage then but also empower then to take their
                                stand.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-post">
                            <h1>Our Mission</h1>

                            <p>Our mission is to eradicate the oblivious by empowering people with the essential tools
                                required to lead a life in harmony. Through these efforts we strive to create a
                                progressive and a cultured community.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-post">
                            <img src="upload/team/1.jpg" alt="">
                            <span>Top Author</span>
                            <h2>Stan Enemy</h2>
                            <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede ...</p>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-post">
                            <img src="upload/team/2.jpg" alt="">
                            <span>Top Author</span>
                            <h2>John Smith</h2>
                            <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede ...</p>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-post">
                            <img src="upload/team/3.jpg" alt="">
                            <span>Author</span>
                            <h2>Linda M.</h2>
                            <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede ...</p>
                            <ul class="team-social">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about section -->

    <!-- instagram section 
			================================================== -->
    <section class="instagram-section">
        <div class="container">
            <div class="border-top"></div>
            <div class="instagram-box">

                <div class="title-section text-center">
                    <h1>Our Latest Instagram Posts</h1>
                    <a href="#">@mittetheme</a>
                </div>
                <ul class="insta-list">
                    <li><a href="#"><img src="upload/instagram/1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="upload/instagram/2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="upload/instagram/3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="upload/instagram/4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="upload/instagram/5.jpg" alt=""></a></li>
                </ul>

                <div class="center-button">
                    <a class="button-one" href="#">Follow Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End instagram section -->

    <%- include('partials/footer') -%>