<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Categories</title>
</head>

<body>
  <div class="form-group container" style="margin-top: 20px">
    <form action="/articles/category/edit/<%= category.id%>" method="post">
      <label for="category">Category Name:</label>
      <input required type="text" name="category" id="category" value="<%= category.category%>" class="form-control">
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

  <form action="/banner" method="post" enctype="multipart/form-data">
    <input type="file" name="banner" />
    <label for="id">Category ID</label>
    <input required value="<%= category.id%>" type="text" name="id" id="title" class="form-control">
    <a href="/category" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</body>
</html>