<div class="form-group">
  <label for="title">Title</label>
  <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description" class="form-control"
    style="white-space: pre-wrap;"><%= article.description %></textarea>
</div>
<div class="form-group">
  <label for="markdown">Markdown</label>
  <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>
<div class="form-group">
  <script>
    var check = document.getElementById('latest')
    if (article.latest == "latest") { check.checked = true; } else { check.checked = false; }
  </script>
  <input type="checkbox" id="latest" name="latest" value="latest">
  <label for="latest"> Is Latest Post</label>
</div>


<div class="form-group">
  <label for="key">Keywords</label>
  <%var words=article.keywords.join()%>
    <textarea name="key" id="key" class="form-control" style="white-space: pre-wrap;"><%= words %></textarea>
</div>


<a href="/all" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>